<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ActivityExcelFilePath" value="C:\\UA\\Work\\Aylık Aktiviteler\\2018-01.xlsx" />
    <add key="IloopUserId" value="1055" />
  </appSettings>
<connectionStrings><add name="ILOOPEntities" connectionString="metadata=res://*/IloopDataModel.csdl|res://*/IloopDataModel.ssdl|res://*/IloopDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.102.3;initial catalog=ILOOP;persist security info=True;user id=OperasyonServiceUser;password=Bny213Xe*T;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>